/*Custom Styling codes here*/
header{
	/*background-color: #fb024c;*/
	display: flex;
	justify-content: flex-end;
	align-items: center;
	/*padding: 30px 10%;*/
	padding-top: 10px;
	padding-bottom: 7px;
}

header img{
	padding: 10px 0 0 13px;
}

*{
	margin: 0;
	padding: 0;	
	font-family: Raleway;
	box-sizing: border-box;
}

header nav ul li{
	display: inline-block;
	padding: 0px 40px;

}

.logo{
	cursor: pointer;
	margin-right: auto;
}

li, a, button{
	/*font-weight: 500;*/
	font-size: 16px;
	text-decoration: none;
	color: black;
}

nav ul li a:hover {
	color: #fb024c;
	transition: all 0.3s ease 0s;
}

nav ul li a{
	transition: all 0.3s ease 0s;
}


header > button{
	padding: 9px 25px;
	background-color: #fb024c;
	border-radius: 30px;
	color: #FFF;
	border: none;
	margin-right: 50px;
	cursor: pointer;
	outline: none;
}

header > button:hover {
	color: green;
	background-color: #FFF;
	transition: all 0.3s ease 0s;
}


.wrapper {
	/*background-image: */
	background: url("../Image/digital-marketing-seo-google-1725340-e1595946227912(Cft2kRHTicI).jpg");
	background-repeat: no-repeat;
	/*width: 1499px;*/
	/*height: 784px;*/

 }

main > button{
	position: relative;
	left: 43.3%;
	top: 200px;
}


main > h1{
	position: relative;
	left: 190px;
	/*font-size: 50px;*/
	font-weight: bold;

}

.content > h1{
	padding: 200px;	
}


.content > button{
	padding: 9px 25px;
	background-color: #fb024c;
	border-radius: 30px;
	color: #FFF;
	border: none;
	margin-right: 50px;
	cursor: pointer;
	outline: none;
	/*align-content: center;*/
}



/*Content CSS*/
